/* PortfolioHome.css */

.home-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(135deg, #343112, #f0e2b8);
  }
  
  .profile-screen-part-1{
    width: 60%;
    margin-top: 5.5rem;
    height: 50vh;
  }

  .profile-screen-part-2 {
    width: 40%;
    text-align: center;
    padding: 20px;
    margin-top: 5.5rem;
    height: 20vh;

  }
  
  .picture {
    width: 70%;
    height: 300%;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .name {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .role {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .bio {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .email {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .link {
    font-size: 1.5rem;
    color: #d1d1e9;
    text-decoration: none;
    border: 2px solid #d1d1e9;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color: #d1d1e9;
    color: #1f1c2c;
  }

  /* Mobile Styles */
  @media (max-width: 768px) {
    .home-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #343112, #f0e2b8);
    }


    .profile-screen-part-1{
      margin-top: -1rem;
      display: flex;
      flex-direction: column;
    }
  
    .profile-screen-part-2 {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-top: 4.5rem;
    }
    
    .picture {
      width: 120%;
      height: 300%;
      border-radius: 50%;
      margin-bottom: 20px;
      object-fit: cover;
      box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
    }

    .name {
      font-size:  2.5rem;
      font-weight: bold;
  
    }
  
    .role {
      font-size:2.1rem;
      font-weight: bold;
    
    }
    
    .bio {
      font-size: 1.2rem; 
      color: rgba(255, 255, 255, 0.8);
    }
    
  }
  