/* PortfolioHome.css */

.home-container {
    display: flex;
    height: 70vh;
    justify-content: center;
    /* background: linear-gradient(135deg, #7964f3, #0f1271); */
  }
  
  .profile-screen-part-1{
    width: 50%;
    margin-top: 3.5rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .profile-screen-part-2 {
    width: 50%;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    height: 68vh;
  }
  
  /* .picture {
    width: 90%;
    height: 80vh;
    border-radius: 50%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  } */
  
  .name {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color:rgb(0, 0, 150);
    font-family: 'Times New Roman', Times, serif;
  }

  .role {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -2rem;
  }
  
  .bio {
    font-size: 1.2rem;
    font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgba(2, 9, 66, 0.8);
  }
  
  .email {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .link {
    font-size: 2.5rem;
    color: #ebc800;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover { 
    color: #730000;
  }

  /* Tab Styles */
  @media (max-width: 768px) {
    .home-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* background: linear-gradient(135deg, #7964f3, #0f1271); */
    }

    .profile-screen-part-1{
      margin-top: 10rem;
    }
  
    .name {
      font-size: 2rem;
      font-weight: bold;
      color:rgb(0, 0, 150);
    font-family: 'Times New Roman', Times, serif;
    
    }
  
    .role {
      margin-top: -1rem;
      font-size:1.9rem;
      font-weight: bold;
    
    }
    
    .bio {
      font-size: 1.3rem;
      text-align: center; 
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgba(2, 9, 66, 0.8);
    }
    
  }
  

  /* Mobile View Styles */
  @media (max-width: 458px) {
    .home-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 45%;
    }


    .profile-screen-part-1{
      margin-top: 15rem;
    }

    .name {
      font-size:  1.5rem;
      font-weight: bold;
      color:rgb(0, 0, 150);
    font-family: 'Times New Roman', Times, serif;
    }
  
    .role {
      font-size:1.4rem;
      font-weight: bold;
    
    }
    
    .bio {
      font-size: 1.2rem; 
    }
    
  }
  