/* General Styles */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 25%, rgba(45, 45, 45, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%);
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
  }
  
  .logoText {
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(240, 237, 144);
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    transition: right 0.5s ease;
  }
  
  .nav-menu ul {
    display: flex;
    list-style: none;
    transition: transform 0.5s ease;
  }
  
  .nav-menu li {
    padding: 0 1rem;
  }
  
  .nav-menu li a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(104, 177, 236);
  }
  
  .hamburger {
    display: none;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .Header {
      width: auto;
    }
  
    .logo {
      width: auto;
    }
  
    .hamburger {
      display: flex;
      z-index: 2;
      cursor: pointer;
    }
  
    .hamburgerLogo {
      font-size: 3rem;
      color: rgb(104, 177, 236);
      padding: 10px 0 0 0;
    }
  
    .nav-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 200px;
      height: 100%;
      background: linear-gradient(135deg, rgba(24, 24, 24, 0.8) 25%, rgba(45, 45, 45, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%);
      transition: right 0.5s ease;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      z-index: 1;
    }
  
    .nav-menu.open {
      right: 0;
    }
  
    .nav-menu ul {
      flex-direction: column;
    }
  
    .nav-menu li {
      margin: 20px 0;
    }
  
    .nav-menu li a {
      padding: 0;
      color: rgb(187, 188, 248);
    }
  }
  