.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5px; 
    border-bottom: 3px solid rgba(1, 0, 0, 0.8); 
    /* background: linear-gradient(135deg, rgba(219, 221, 253, 0.8) 25%, rgba(219, 218, 241, 0.8) 50%, rgba(245, 245, 245, 0.8) 75%); */
    background: darkblue;
    transition: background-color 1s ease, padding 0.5s ease, border-bottom 0.5s ease, border-above 0.5s ease;
    position: fixed;
    z-index: 1;
  }
  
  .Header.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 5px;
    border-bottom: 3px solid rgba(1, 0, 0, 0.8);
    background: darkblue;
    z-index: 1;
    transition: background-color 1s ease, padding 0.5s ease, border-bottom 0.5s ease;
  }
  

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
  }
   .logoText {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(240, 240, 125);
  }

  .logoText.scrolled {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(240, 237, 144);
  }

  .nav-menu {
    display: flex;
    list-style: none;
    padding: 0px 10px 0 10px;
    transition: right 0.5s ease;
  }
  
  .nav-menu ul {
    display: flex;
    list-style: none;
    transition: transform 0.5s ease;
  }
  
  .nav-menu li {
    padding: 0 1rem;
  }
  
  .nav-menu li a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: rgba(240, 237, 144);  
  }
  
  .hamburger {
    display: none;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .Header {
      width: 100%;
    }
  
    .logo {
      width: auto;
    }
  
    .hamburger {
      display: flex;
      z-index: 2;
      cursor: pointer;
      outline: none;
    }
  
    .hamburgerLogo {
      font-size: 2.5rem;
      color: rgb(231, 240, 107);
      padding: 10px 30px 0 0;
      outline: none;
    }
  
    .nav-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 200px;
      height: 100%;
      background: linear-gradient(135deg, rgba(24, 24, 24, 0.8) 25%, rgba(45, 45, 45, 0.8) 50%, rgba(0, 0, 0, 0.8) 75%);
      transition: right 0.5s ease;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      z-index: 1;
    }
  
    .nav-menu.open {
      right: 0;
    }
  
    .nav-menu ul {
      flex-direction: column;
    }
  
    .nav-menu li {
      margin: 20px 0;
    }
  
    .nav-menu li a {
      padding: 0;
      color: rgb(187, 188, 248);
    }
  }
  