.projects-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #7964f3, #0f1271);
}
.projects-carousel h1{
    flex: 1;
    text-align: center;
    font-size: 1.7rem;
    margin: 0;
}
.projects-carousel-view{
    display: flex;
    padding: 10px 60px;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.cards{
    width: 40vh;
    height: 30vh;
    background: linear-gradient(to right, #003366, #0066cc);
    border: 1px solid #2026ea;
    border-radius: 8px;
    padding: 30px 10px 20px 20px;
    text-align: left;
    position: relative;
}

.link {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 35px;
    color: #000000;
    transition: color 0.3s ease;
}

.link:hover {
    color: #000;
}
.cards h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: yellow;
}

.cards p {
    color: white;
}

@media (max-width: 768px) {
    .cards {
        flex: 1 1 100%; /* Cards take full width on smaller screens */
    }
}